@charset "utf-8";
/* ==========================================================================
   基础网格系统
   ========================================================================== */

.row {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
  @extend %clearfix;
}

/* Default col */
.col {
  float: left;
  width: 100%;
}
