@charset "UTF-8";

@mixin hide-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity = $opacity-ie);
}

// Gradients  添加渐变过渡函数，20140110 add by petsa
@mixin gradient($color-from, $color-to) {
    background: $color-from;
    // Old browsers
    background: -moz-linear-gradient(top, $color-from 0%, $color-to 100%);
    // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color-from), color-stop(100%, $color-to));
    // Chrome,Safari4+
    background: -webkit-linear-gradient(top, $color-from 0%, $color-to 100%);
    // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top, $color-from 0%, $color-to 100%);
    // Opera 11.10+
    background: -ms-linear-gradient(top, $color-from 0%, $color-to 100%);
    // IE10+
    background: linear-gradient(to bottom, $color-from 0%, $color-to 100%);
    // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-from', endColorstr='$color-to',GradientType=0 );
    // IE6-9
}

// triangle 小三角
@mixin triangle($direction, $size, $borderColor) {
    content: "";
    height: 0;
    width: 0;
    @if $direction == top {
        border-bottom: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }
    @else if $direction == right {
        border-left: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
    @else if $direction == bottom {
        border-top: $size solid $borderColor;
        border-left: $size dashed transparent;
        border-right: $size dashed transparent;
    }
    @else if $direction == left {
        border-right: $size solid $borderColor;
        border-top: $size dashed transparent;
        border-bottom: $size dashed transparent;
    }
}

// http://www.css3files.com/font/
// 1 The eot fontfile. Can be omitted if you don`t want to support Internet Explorer prior to version 9 (including semicolon).
// 2 Can also be omitted for Internet Explorer < 9. ?iefix prevents IE6 from interpreting all of the following. If the whole IE family (6 to 9) should be supported, 1 and 2 are needed.
// 3 Can be omitted if iPad versions prior to iOS 4.2 shouldn’t be supported. 
// 4 The ttf fontfile. Necessary to support (Mobile) Safari and Opera. 
// 5 The woff fontfile for all modern browsers (best choice).
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url("#{$file-path}.eot");
        // 1
        src: url("#{$file-path}.eot?#iefix") format("eot"), url("#{$file-path}.svg##{$font-family}") format("svg"), url("#{$file-path}.woff") format("woff"), url("#{$file-path}.ttf") format("truetype");
        //5
    }
}

// User select
// For selecting text on the page

@mixin user-select($select) {
    -webkit-user-select: $select;
    -moz-user-select: $select;
    -ms-user-select: $select;
    // IE10+
    user-select: $select;
}

// Placeholder text
@mixin placeholder($color: blue) {
    // Firefox
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
        // See https://github.com/twbs/bootstrap/pull/11526
   
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    // Internet Explorer 10+
    &::-webkit-input-placeholder {
        color: $color;
    }
    // Safari and Chrome
}

// selection color
@mixin selection($color: #333, $background-color: #FFAF60) {
    &::selection {
        color: $color;
        background-color: $background-color;
    }
    &::-moz-selection {
        color: $color;
        background-color: $background-color;
    }
    &::-webkit-selection {
        color: $color;
        background-color: $background-color;
    }
}

// 清除浮动
%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}